<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themes.pixelstrap.com/voxo/front-end/log-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Dec 2023 05:48:39 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Voxo">
    <meta name="keywords" content="Voxo">
    <meta name="author" content="Voxo">
    <link rel="icon" href="user/assets//images/favicon/2.png" type="image/x-icon" />
    <title>Log In</title>

    <!--Google font-->
    <link rel="preconnect" href="/user/assets/https://fonts.gstatic.com/">
    <link href="user/assets/https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="/user/assets//css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="user/assets//css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="user/assets//css/vendors/feather-icon.css">

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="user/assets//css/vendors/animate.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="user/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="user/assets/css/vendors/slick/slick-theme.css">

    <!-- Theme css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="/user/assets//css/demo2.css">

</head>

<body class="theme-color2 light ltr">


    <!-- Log In Section Start -->

    <form action="/login" method="post">
    <div class="login-section">
        <div class="materialContainer">
            <div class="box">
                <div class="login-title">
                    <h2>Login</h2>
                </div>
                <div> <% 
    
                    if(typeof message !=="undefined"){
                        %> 
                        <p style="color:red; margin-left: -135px ;"><%=message %></p>
                        <%
                     }
                    %> </div>
                <div class="input">
                    <label for="name">Username</label>
                    <input type="text" name="name" id="name" >
                    <span class="spin"></span>
                    <div class="valid-feedback">
                        Please fill the name
                    </div>
                </div>
                <div> <% 
                
                if(typeof message1 !=="undefined"){
                    %> 
                    <p style="color:red; margin-left: -135px ;"><%=message1 %></p>
                    <%
                }
                %> </div>

                <div class="input">
                  
                    <label for="pass">Password</label>
                    <input type="password" name="pass" id="pass">
                    <span class="spin"></span>
                </div>

                <a href="user/assets/forgot.html" class="pass-forgot"></a>

                <div class="button login">
                    <button onclick="location.href = '';" type="submit">
                        <span>Log In</span>
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                
                <div class="button login" style="margin-left: 150px; color: red;">
                               
                  
                </div>
                
                </form>
                   <a href="/forgotPassword" style="margin-left: 300px;">Forgot Password</a>
                 <p class="sign-category">
                    <span>Or sign in with</span>
                  </p>
            
                
                  
                    <div class="row gx-md-3 gy-3">
                    <div class="col-md-6" style="margin-left: 100px;">
                        <a href="/auth/google">
                            <div class="social-media google-media">
                                <img src="user/assets/images/inner-page/google.png" class="img-fluid blur-up lazyload"
                                    alt="">
                                <h6>Google</h6>
                            </div>
                        </a>
                    </div>
                    <p class="sign-category">
                    <span>Don't have an account?</span>
                  </p>
                    <div class="button login">
                    <button onclick="location.href = '/register';" type="button" style="width: 150px; margin-left: 130px;">
                        <span>Sign Up</span>
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                </div>
                <p> <a href="user/assets/sign-up.html" class="theme-color"></a></p>

            </div>
        </div>
    </div>
    <!-- Log In Section End -->

    <!-- theme Setting Start -->
    <!-- <div class="theme-setting">
        // <ul>
        //     <li>
        //         <button id="darkButton" class="btn btn-sm dark-buttton">Dark</button>
        //     </li>
        //     <li>
        //         <button class="btn btn-sm rtl-button">RTL</button>
        //     </li>
        //     <li class="color-picker">
        //         <input type="color" class="form-control form-control-color" id="ColorPicker1" value="#e22454"
        //             title="Choose your color">
        //     </li>
        // </ul>
    </div> -->
    <!-- theme Setting End -->

    <div class="bg-overlay"></div>

    <!-- latest jquery-->
    <script src="/user/assets/js/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="/user/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js-->
    <script src="/user/assets/js/feather/feather.min.js"></script>

    <!-- lazyload js-->
    <script src="/user/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="/user/assets/js/slick/slick.js"></script>
    <script src="/user/assets/js/slick/slick-animation.min.js"></script>
    <script src="/user/assets/js/slick/custom_slick.js"></script>

    <!-- Notify js-->
    <script src="/user/assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- script js -->
    <script src="/user/assets/js/theme-setting.js"></script>
    <script src="/user/assets/js/script.js"></script>
    <script src="/user/assets/js/home-script.js"></script>


    <script>
        
    </script>

</body>


<!-- Mirrored from themes.pixelstrap.com/voxo/front-end/log-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Dec 2023 05:48:39 GMT -->
</html>